$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    color:  #556169;
    background-color: #eee;
}

a { 
    color: #1087bf;
}

.label-primary {
    background-color: #1087bf;
}

.btn-primary {
    color: white;
    background-color: #1087bf;
    border: none;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #d58512;
    border-color: #d58512;
}

.btn-warning {
    /*e57851;*/
    background-color: #eb9418;
    border-color: #d58512;
}

.section {
    padding: 0 15px 20px 15px;
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid #e3e3e3;
}


/*
* GLOBAL NOTIFICATIONS
*/
#global-notification {
    font-weight: 300;
    position: fixed;
    z-index: 600;
    text-align: center;
    font-size: 24px;
    bottom: -86px;
    left: 0;
    right: 0;
    padding: 0 10px;
    line-height: 86px;
    height: 86px;
    background: #556169;
    background: rgba(85,97,105,.85);
    color: #eee;
    -o-transition: bottom .3s ease-in-out 0s;
    -moz-transition: bottom .3s ease-in-out 0s;
    -webkit-transition: bottom .3s ease-in-out 0s;
    transition: bottom .3s ease-in-out 0s;
}
#global-notification.is-visible {
    bottom: 0;
}
.separate-layer {
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}


/*
* HEADER
*/
.navbar {
    margin: 0 0 20px 0;
    background-color: #1087bf;
    border: none;
    border-radius: 0;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
    color: #c1e7fa;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav>.dropdown>a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #c1e7fa;;
    border-bottom-color: #c1e7fa;;
}


/*
* FOOTER
*/
footer {
    background-color: #556169;
    color: #eee;
    padding: 30px;
}


/*
 * My Reports
 */

a.thumbnail:hover {
  text-decoration: none;
  background-color: #eee;
}

a.my-report {
  color:  #556169;
}

.my-report {
  height: 200px;
  overflow: hidden;
}

.new-my-report {
  background-color: #eee;
}
.my-report h5 {
  font-weight: bold;
}
.my-report p {
  font-size: 0.9em;
}

.thumbnail .caption {
  color:  #556169;
}
