<div class="section">
	<div class="row">
		<div class="col-sm-5">
			<h1>My Reports</h1>
		</div>
		<div class="col-sm-3" style="padding-top:15px;">
			<a data-toggle="modal" href="#newReportModal" class="btn btn-block btn-lg btn-primary"><span class="glyphicon glyphicon-plus"></span> Create New Report</a>
		</div>
		<div class="col-sm-4" style="padding-top:15px;">
			<div class="input-group">
				<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
      			<input type="text" class="form-control input-lg" placeholder="Search for a report...">
    		</div><!-- /input-group -->
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 text-center" ng-show="jobs.length==0">
			<br>
			<br>
			<h4><strong>You have no saved reports.</strong></h4>
			<br>
			<p>Get started, create your first report:<br><br><a data-toggle="modal" href="#newReportModal" class="btn btn-large btn-primary"><span class="glyphicon glyphicon-plus"></span> Create New Report</a></p>
			<br>
			<p>or learn about IMI Market Prospector:<br> <a href="">Read the Getting Started Guide</a> and <a href="">Watch our Tutorial Video</a>.</p>
			</ul>

		</div>

		<div class="col-sm-3" ng-repeat="j in jobs">
			<a href="/#/reports/{{j.id}}" class="thumbnail my-report">
				<div class="caption">
				<h5>{{ j.description }}</h5>
				<p>Products: xxx, xxx, xxx, xxx
				<br>Territory: xxx, xxx, xxx, xxx</p>
				</div>
			</a>
		</div>
	</div>

</div>